.container {
	width: 1300px;
	margin: 0 auto;
}

.products {
	background-color: #161516;
	color: #FFFFFF;
}

.products__header {
	display: flex;
	justify-content: space-between;
	height: 173px;
	
}

.products__header-text {
	margin-top: 54px;
	font-weight: 700;
	font-size: 31px;
	line-height: 38px;
	text-transform: uppercase;
}

.products__cart {
	display: flex;
	
}

.products__cart-text {
	margin-top: 51px;
	margin-right: 20px;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
	text-align: right;
}

.products__cart-icon {
	position: relative;
	margin-top: 48px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #D58C51;
}

.products__cart-icon::before {
	content: url('../../public/images/cart.svg');
	width: 21px;
	height: 21px;
	position: absolute;
	top: 15px;
	left: 15px;
}


.products__cards {
	padding-bottom: 67px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 35px;
	height: calc(100vh - 173px - 67px);
	overflow-y: auto;
}

.products__cards::-webkit-scrollbar { 
	width: 0; 
}

.products__cards .card {
	display: flex;
    flex-direction: column;
	width: 310px;
	padding: 43px 27px 32px 21px;
	padding-top: 43px;
}

.products__cards .card .card__name {
	margin-top: 31px;
	margin-bottom: 13px;
}

.products__cards .card .card__description {
	margin-bottom: 25px;
}

.products__cards .card .card__bottom {
	margin-top: auto;
}

.products__cards .card .card__button {
	width: 30px;
	height: 30px;
	font-size: 24px; 
}